<%= partial "header" %>


  <style>
.contant-page a {
      font-size: 38px;
    }

    .contant-page p {
      padding-bottom: 54px;
    }

  </style>
  <section class="content-23 contant-page v-center bg-midnight-blue">
    <div>
      <div class="container">
        <div class="hero-unit">
          <div>
            <div class="container">
              <div class="hero-unit">
                <h1>Sales and partnership questions:</h1>
                <p><a href="mailto:paul@minorityapp.com?body=Sales%20question">paul@minorityapp.com</a></p>
                <h1>Support:</h1>
                <p><a href="mailto:stan@minorityapp.com?body=Sales%20question">stan@minorityapp.com</a></p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<%= partial "footer" %>

</body>

</html>
