<%= partial "header" %>


        <style>
            .god-section h1 {
                color: white;
            }
            .team-container {
                display: flex;
                justify-content: center;
                margin-top: 34px;
            }
            .team-container .team-member {
                flex-direction: column;
                text-align: center;
                margin-right: 42px;
            }
            .team-container .team-image img {
                width: 64px;
                height: 64px;
                border-radius: 100%;
            }
            .team-container .team-image {
                margin-left: 11px;
            }
            .about-page .container {
                margin-top: -116px;
            }
            .team-member h3 a {
                color: white;
                font-size: 32px;
                text-align: center;
            }
            .team-member h3 {
                margin-left: 10px;
            }

            section.content-23.about-page.v-center.bg-midnight-blue {
                flex: 1 0 auto;
                min-height: auto;
                max-height: none;
                display: block;
                padding-top: 221px;
                text-align: center;
                flex-grow: 1000;
                background-size: covewr !important;
                background-repeat: no-repeat !important;
            }

            .content-23.about-page.v-center > div,
            .content-23 .v-center > div {
                display: block;
            }
            .god-section.god-secondary h1 {
                font-size: 27px;
            }
.god-secondary p:first-child {
    padding-top: 30px;
}

.god-secondary p:last-child {
    padding-bottom: 107px;
}

.god-secondary p {
    font-size: 20px;
    text-align: justify;
    margin: 0 auto;
}
.god-section.god-secondary {
    width: 59%;
    margin: 0 auto;
}
        </style>
        <section class="content-24 about-page v-center bg-midnight-blue">
            <div class=container>
                <section class=god-section>
                    <h1>We are hard working team</h1>
                    <p>So keep calm and <a href="/prices" style="color: #82C9E6;">buy Minority</a>
                    </p>
                </section>
                <section class=team-section>
                    <div class=team-container>
                        <div class=team-member>
                            <div class=team-image>
                                <a href="https://www.f6s.com/jacke">
                                    <img src="https://8bd4ec3d5ac28822bb70-8632f4d2e9f834faf5205738d7dc6e14.ssl.cf1.rackcdn.com/8861/886029_th3.jpg" class=r-full>
                                </a>
                            </div>
                            <h3><a href="https://www.f6s.com/jacke">Stan</a></h3> </div>
                        <div class=team-member>
                            <div class=team-image>
                                <a href="https://www.f6s.com/pavelchekmaryov">
                                    <img src="https://9e727f32f41cdf779491-ea4dac8c547d02eaeea082ee8be1d361.ssl.cf1.rackcdn.com/8163/816200_th2.jpg" class="profile small u">
                                </a>
                            </div>
                            <h3><a href="https://www.f6s.com/pavelchekmaryov">Paul</a></h3>
                        </div>
                    </div>
                </section>


                <section class="god-section god-secondary">
                <p>We believe in progress.</p>
                 <p>
                   We want to see as many interesting technologies in our lives as possible. But we realize that the progress isn't the business of one, behind all progress, there are a lot of routine actions, a lot of work, people and companies. That's why we're building this.
                 </p>
                </section>

            </div>
        </section>
<%= partial "footer" %>

    </body>

    </html>
    <script src="/javascripts/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/jquery.parallax.min.js"></script>
    <script src="/javascripts/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="/javascripts/jquery.svg.js"></script>
    <script src="/javascripts/jquery.svganim.js"></script>
    <script src="/javascripts/jquery.backgroundvideo.min.js"></script>
    <script src="/javascripts/cbpScroller.js"></script>
    <script src="/javascripts/modernizr.custom.js"></script>
    <script src="/javascripts/classie.js"></script>
    <script src="/javascripts/vide.js"></script>
    <script src="/javascripts/all.js"></script>
    <script src="/javascripts/easing.min.js"></script>
    <script src="/javascripts/page-transitions.js"></script>
    <script src="/javascripts/startup-kit.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/1.3.0/jquery.scrollmagic.js"></script>
    <script>
        new cbpScroller(document.getElementById('cbp-so-scroller'));
    </script>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-13037685-3', 'auto');
        ga('send', 'pageview');
    </script>

    <script src="https://imulus.github.io/retinajs/assets/retina.js"></script>

    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script src="/javascripts/script.js" type="text/javascript"></script>

    <script>
        $(".price-slider")
            .slider({
                min: 5,
                max: 95,
                step: 10,
                change: function(event, ui) {
                    $('.employee-num').text(ui.value);
                    // 55 for 5
                    if (ui.value > 94) {
                        var new_price = (ui.value - 5) * 6 + 55;
                        $('.total-price').html('<a href="/contacts">Contact us</a>');
                        $('.pricing__currency').text('');
                    } else {
                        var new_price = (ui.value - 5) * 6 + 55;
                        $('.total-price').text(new_price);
                        $('.pricing__currency').text('$');
                    }
                }
            })

        .slider("pips", {
            rest: "label",
            step: 1
        });

        $('.ui-slider-label[data-value="95"]').text('>95');
    </script>
    </body>

</html>
