<%= partial "header" %>

<link href="/stylesheets/index2.css" rel=stylesheet />


<section class="content-23 content-23-new primary-unit v-center bg-midnight-blue">
    <div class="content-container primary-content-container">
        <div class=content-container>
            <div class=hero-unit>
                <h1>Streamline Your Work Process</h1>
                <p> Minority helps you adjust and manage your company's activities
                    <br/> </p>
            </div>
            <div class=compare>
                <div class='browser-window asana browser-window-compare'>
                    <div class=top-bar>
                        <div class=circles>
                            <div class="circle circle-red"></div>
                            <div class="circle circle-yellow"></div>
                            <div class="circle circle-green"></div>
                        </div>
                    </div>
                    <div class=content>
                        <div class=task-trackers>
                            <div class=task-project> Task tracker </div>
                            <div class=task id=task1>
                                <div class=task-check> </div>
                                <div class="task-title yellor">Task A</div>
                            </div>
                            <div class=task id=task2 style="opacity: 0;">
                                <div class=task-check> </div>
                                <div class="task-title blue">Task B</div>
                            </div>
                            <div class=task id=task4 style="opacity: 0;">
                                <div class=task-check> </div>
                                <div class="task-title green">Task C</div>
                            </div>
                            <div class=task id=task5 style="opacity: 0;">
                                <div class=task-check> </div>
                                <div class="task-title green">Task D</div>
                            </div>
                            <div class=task id=task3 style="opacity: 0;">
                                <div class=task-check> </div>
                                <div class="task-title green">Last Task</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='browser-window minority browser-window-compare'>
                    <div class=top-bar>
                        <div class=circles>
                            <div class="circle circle-red"></div>
                            <div class="circle circle-yellow"></div>
                            <div class="circle circle-green"></div>
                        </div>
                    </div>
                    <div class=content>
                        <div class=workflow-concepts>
                            <div class=workflow-project> Workflows </div>
                            <div class=workflow id=workflow1>
                                <div class=workflow-title>Path A</div>
                                <div class=workflow-elements>
                                    <div class="workflow-element green">A</div>
                                    <div class="workflow-element yellor">B</div>
                                    <div class="workflow-element blue">C</div>
                                    <div class="workflow-element purple">D</div>
                                    <div class="workflow-element pink">E</div>
                                </div>
                                <div class=workflow-button></div>
                                <div class=workflow-results>
                                    <div class=workflow-result>
                                        <div class=workflow-result-rate style="width: 20%"></div>
                                        <div class=workflow-result-rate-title>Slow</div>
                                    </div>
                                    <div class=workflow-result>
                                        <div class=workflow-result-rate style="width: 12%"></div>
                                        <div class=workflow-result-rate-title>Bad</div>
                                    </div>
                                </div>
                            </div>
                            <div class=workflow id=workflow2>
                                <div class=workflow-title>Path B</div>
                                <div class=workflow-elements>
                                    <div class="workflow-element yellor">B</div>
                                    <div class="workflow-element green">A</div>
                                    <div class="workflow-element purple">D</div>
                                    <div class="workflow-element blue">C</div>
                                    <div class="workflow-element pink">E</div>
                                </div>
                                <div class=workflow-button></div>
                                <div class=workflow-results>
                                    <div class=workflow-result>
                                        <div class=workflow-result-rate></div>
                                        <div class=workflow-result-rate-title>Good</div>
                                    </div>
                                    <div class=workflow-result>
                                        <div class=workflow-result-rate></div>
                                        <div class=workflow-result-rate-title>Outstanding</div>
                                    </div>
                                </div>
                            </div>
                            <div class=workflow-result> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section id=subscribtionbox style="display:none;" class="section full-cta grey">
            <div class=content>
                <div class=section-heading>
                    <div class="subscribe-form mc_embed_signup">
                        <form action="//empireinc.us5.list-manage.com/subscribe/post?u=141c1b3291fd461fbe97103c0&amp;id=6cb531884f" method=post id=mc-embedded-subscribe-form name=mc-embedded-subscribe-form class=validate target=_blank novalidate>
                            <div class="mc-field-group input-append">
                                <input type=email value="" name=EMAIL class="span4 required email" id=mce-EMAIL placeholder="Enter your email address">
                                <input type=submit value=Subscribe name=subscribe id=mc-embedded-subscribe class="button btn green marquee-btn"> </div>
                            <div id=mce-responses class=clear>
                                <div class=response id=mce-error-response style="display:none"></div>
                                <div class=response id=mce-success-response style="display:none"></div>
                            </div>
                            <div style="position: absolute; left: -5000px;">
                                <input name=b_141c1b3291fd461fbe97103c0_6cb531884f tabindex=-1 value="">
                            </div>
                            <div class=clear></div>
                        </form>
                    </div>
                </div>
        </section>
        <div class=compare-motto> Turn chaotic tasks into clear workflow </div>
</section>



<section class="section whatis-section all-in-one grey-gradient" style="display:none;">

<nav class="section-navbar">
          <ul class="section-navbar-tabs js-organize-tabs">
            <li class="section-navbar-item section-navbar-item-modeling active">
             <img src="/images/noun_444370_cc.svg" alt="">
              <a href="#Modeling" aria-controls="Modeling" role="tab" data-toggle="tab" aria-expanded="true">Modeling</a>
            </li>
            <li class="section-navbar-item section-navbar-item-launch">
            <img src="/images/noun_329818_cc.svg" alt="">
              <a href="#Launch" aria-controls="Launch" role="tab" data-toggle="tab" aria-expanded="false">Launch</a>
            </li>
            <li class="section-navbar-item section-navbar-item-api">
            <img src="/images/noun_38239.svg" alt="">
              <a href="#API" aria-controls="API" role="tab" data-toggle="tab" aria-expanded="false">API</a>
            </li>
          </ul>
        </nav>
</section>


<div class="feature-block modeling-section gray-bg">
<div class="feature-header-content" style="">
<h2 class="feature-header feature-header-main">
      Modeling
</h2>
<h4>
    Create great interactive workflow, integration, and all other kinds of flow oriented processes.
</h4>
<div class="process-elements-mock-modeling">
    <div class="element element-1">Element</div>
    <div class="element element-2">Element</div>
    <div class="element element-3">Element</div>
    <div class="element element-4">Element</div>
    <div class="element element-5">Element</div>
    <div class="element element-6">Element</div>
    <div class="element element-7">Element</div>
    <div class="element element-8">Element</div>
    <div class="element element-9">Element</div>
    <div class="element element-9">Element</div>
    <div class="element element-10">Element</div>
</div>
</div>


  <div class="container">
    <div class="row text-center">
        <div id=cbp-so-scroller class="cbp-so-scroller use-cases-section">
            <style>
                .fs1.icon-pencil,
                .fs1.icon-chat {
                    width: auto;
                    height: auto;
                }
            </style>
            <section class="cbp-modeling cbp-so-section">
                <figure class="cbp-so-side cbp-so-side-left">
                  <div class="create-elem-form-box">
                    <h5>Create element</h5>
                    <div class="icon-create-new-elem-field"><label>Title</label><input
                      value="Sign a contract" /></div>
                    <div class="icon-create-new-elem-field"><label>Title</label><input
                      class="selected"
                      value="Prepare all papers ..." /></div>
                    <div class="icon-create-new-elem-field"><label>Type</label>
                      <div class="type-title">Confirmation<span class="moicon moicon-info"></span></div>
                    </div>
                    <div class="create-button">

                    </div>
                  </div>
                </figure>
                <article class="cbp-so-side cbp-so-side-right">
                    <h2>Describe</h2>
                    <p>Describe the model of your work in a way of steps that should be confirmed.</p>
                </article>
            </section>
            <section class="cbp-so-section cbp-types">
                <figure class="cbp-so-side cbp-so-side-left">
                    <div class="fs1 icon-create-new-elem-types" aria-hidden=true data-sicon=""></div>

<div class="create-element-types-select">
  <div class="type manual">
    <div class="type-content">
      <div class="title">
        Step
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>

  <div class="type auto">
    <div class="type-content">
      <div class="title">
        Timer
      </div>
      <div class="description">
        Delaying in flow execution
      </div>
  </div>

    <div class="actions">
      <div class="action">
        <div class="title">
          Delaying
        </div>
      </div>
    </div>
  </div>
</div>

                </figure>
                <article class="cbp-so-side cbp-so-side-right">
                    <h2>Element types</h2>
                    <p>There are 2 types of steps at this moment, manual and API. For better experience it will be improved.</p>
                </article>
            </section>


            <section class="cbp-people cbp-so-section">
                <figure class="cbp-so-side cbp-so-side-left">
                  <div class="peoples-window">
                    <div class="team-bar">
                      <div class="team">

                      </div>
                      <div class="team">

                      </div>
                      <div class="team">

                      </div>
                    </div>
                    <div class="peoples-bar">
                      <div class="create-people">
                        +
                      </div>
                      <div class="people">
<img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iRWJlbmVfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYgMTYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjx0aXRsZT5EZWZhdWx0IEF2YXRhcjwvdGl0bGU+PGRlc2M+RGVmYXVsdCBBdmF0YXIgZm9yIFdDRiAyLjA8L2Rlc2M+IDxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbLnN1cmZhY2UgeyBmaWxsOiAjZmZmOyB9LnNoYWRvdyB7IGZpbGw6ICNiYmI7IH1dXT48L3N0eWxlPjwvZGVmcz48cmVjdCB4PSIwIiBjbGFzcz0ic2hhZG93IiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiLz48cGF0aCBjbGFzcz0ic3VyZmFjZSIgZD0iTTMuNTI4LDE2QzMuNzc2LDExLjQ5OSw1LjY4NCw4LDgsOHM0LjIyNCwzLjQ5OSw0LjQ3Myw3Ljk5OCIvPjxjaXJjbGUgY2xhc3M9InN1cmZhY2UiIGN4PSI4IiBjeT0iNiIgcj0iMy41Ii8+PC9zdmc+" width="70px" height="70px">
                      </div>
                      <div class="people">
<img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iRWJlbmVfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYgMTYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjx0aXRsZT5EZWZhdWx0IEF2YXRhcjwvdGl0bGU+PGRlc2M+RGVmYXVsdCBBdmF0YXIgZm9yIFdDRiAyLjA8L2Rlc2M+IDxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbLnN1cmZhY2UgeyBmaWxsOiAjZmZmOyB9LnNoYWRvdyB7IGZpbGw6ICNiYmI7IH1dXT48L3N0eWxlPjwvZGVmcz48cmVjdCB4PSIwIiBjbGFzcz0ic2hhZG93IiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiLz48cGF0aCBjbGFzcz0ic3VyZmFjZSIgZD0iTTMuNTI4LDE2QzMuNzc2LDExLjQ5OSw1LjY4NCw4LDgsOHM0LjIyNCwzLjQ5OSw0LjQ3Myw3Ljk5OCIvPjxjaXJjbGUgY2xhc3M9InN1cmZhY2UiIGN4PSI4IiBjeT0iNiIgcj0iMy41Ii8+PC9zdmc+" width="70px" height="70px">
                      </div>
                      <div class="people">
<img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iRWJlbmVfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYgMTYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjx0aXRsZT5EZWZhdWx0IEF2YXRhcjwvdGl0bGU+PGRlc2M+RGVmYXVsdCBBdmF0YXIgZm9yIFdDRiAyLjA8L2Rlc2M+IDxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbLnN1cmZhY2UgeyBmaWxsOiAjZmZmOyB9LnNoYWRvdyB7IGZpbGw6ICNiYmI7IH1dXT48L3N0eWxlPjwvZGVmcz48cmVjdCB4PSIwIiBjbGFzcz0ic2hhZG93IiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiLz48cGF0aCBjbGFzcz0ic3VyZmFjZSIgZD0iTTMuNTI4LDE2QzMuNzc2LDExLjQ5OSw1LjY4NCw4LDgsOHM0LjIyNCwzLjQ5OSw0LjQ3Myw3Ljk5OCIvPjxjaXJjbGUgY2xhc3M9InN1cmZhY2UiIGN4PSI4IiBjeT0iNiIgcj0iMy41Ii8+PC9zdmc+" width="70px" height="70px">
                      </div>
                      <div class="people">
<img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iRWJlbmVfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYgMTYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjx0aXRsZT5EZWZhdWx0IEF2YXRhcjwvdGl0bGU+PGRlc2M+RGVmYXVsdCBBdmF0YXIgZm9yIFdDRiAyLjA8L2Rlc2M+IDxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbLnN1cmZhY2UgeyBmaWxsOiAjZmZmOyB9LnNoYWRvdyB7IGZpbGw6ICNiYmI7IH1dXT48L3N0eWxlPjwvZGVmcz48cmVjdCB4PSIwIiBjbGFzcz0ic2hhZG93IiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiLz48cGF0aCBjbGFzcz0ic3VyZmFjZSIgZD0iTTMuNTI4LDE2QzMuNzc2LDExLjQ5OSw1LjY4NCw4LDgsOHM0LjIyNCwzLjQ5OSw0LjQ3Myw3Ljk5OCIvPjxjaXJjbGUgY2xhc3M9InN1cmZhY2UiIGN4PSI4IiBjeT0iNiIgcj0iMy41Ii8+PC9zdmc+" width="70px" height="70px">
                      </div>
                    </div>
                  </div>
                </figure>
                <article class="cbp-so-side cbp-so-side-right">
                    <h2>People as participators</h2>
                    <p>Assign your teammates to the steps which they are responsible for.</p>
                </article>
            </section>


        </div>

  </div>
</div>

</div>


<div class="feature-block text-center right-focused-feature">
<div class="feature-header-content" style="">
<h2 class="feature-header feature-header-main">
      Launch
</h2>
<h4>
</h4>
<div class="engine-image">

</div>
</div>

  <div class="container">

        <div id=cbp-so-scroller class="cbp-so-scroller use-cases-section">
            <style>
                .fs1.icon-pencil,
                .fs1.icon-chat {
                    width: auto;
                    height: auto;
                }
            </style>
            <section class="cbp-invoking cbp-so-section">
                <figure class="cbp-so-side cbp-so-side-left">

                  <div class="invoking-window">
                    <div class="invoking-launch">
                      <div class="process-title"></div>
                      <div class="launch-button">
                      </div>
                      <div class="invoking-expand-list">
                        <div class="expanded-elem finished"></div>
                        <div class="expanded-elem finished"></div>
                        <div class="expanded-elem"></div>
                      </div>
                    </div>
                    <div class="invoking-launch">
                      <div class="process-title"></div>
                      <div class="launch-button">
                      </div>
                      <div class="invoking-expand-list">
                        <div class="expanded-elem finished"></div>
                        <div class="expanded-elem finished"></div>
                        <div class="expanded-elem finished"></div>
                      </div>
                    </div>
                    <div class="invoking-launch">
                      <div class="process-title"></div>
                      <div class="launch-button">
                      </div>
                      <div class="invoking-expand-list">
                        <div class="expanded-elem finished"></div>
                        <div class="expanded-elem"></div>
                        <div class="expanded-elem"></div>
                      </div>
                    </div>
                </div>

                </figure>
                <article class="cbp-so-side cbp-so-side-right">
                    <h2>Invoking</h2>
                    <p>To divide the models and real actions, and for further improvement there are runs.
                      It invokes and starting the execution of the process.</p>
                </article>
            </section>
            <section class="cbp-indicators cbp-so-section">
                <figure class="cbp-so-side cbp-so-side-left">
                                    <div class="files-window">
                                      <div class="invoking-launch">
                                        <div class="invoking-expand-list">
                                          <div class="files">
                                            <div class="file">
                                              <div class="files-icon"></div>
                                              <div class="gray-title"></div>
                                              <div class="gray-desc"></div>

                                            </div>
                                            <div class="file">
                                              <div class="files-icon"></div>
                                              <div class="gray-title"></div>
                                              <div class="gray-desc"></div>

                                            </div>
                                        </div>
                  <div class="indicators">
                    <div class="indicator">
                      <div class="indicators-icon"></div>
                      <div class="gray-title"></div>
                      </div>
                    <div class="indicator">
                      <div class="indicators-icon"></div>
                      <div class="gray-title"></div>
                    </div>
                    <div class="indicator">
                      <div class="indicators-icon"></div>
                      <div class="gray-title"></div>
                    </div>
                    <div class="indicator">
                      <div class="indicators-icon"></div>
                      <div class="gray-title"></div>
                    </div>
                    <div class="indicator">
                      <div class="indicators-icon"></div>
                      <div class="gray-title"></div>
                    </div>
                    <div class="indicator">
                      <div class="indicators-icon"></div>

                      <div class="gray-title"></div>
                    </div>
                    <div class="indicator">
                      <div class="indicators-icon"></div>

                      <div class="gray-title"></div>
                    </div>
                    <div class="indicator">
                      <div class="indicators-icon"></div>
                      <div class="gray-title"></div>
                    </div>
                    <div class="indicator">
                      <div class="indicators-icon"></div>
                      <div class="gray-title"></div>
                    </div>
                  </div>
                </div>
              </div>

</div>

                </figure>
                <article class="cbp-so-side cbp-so-side-right">
                    <h2>Files and indicators</h2>
                    <p>To track the effectiveness of the runs there is an option to add files or indicators.
                        The first one acts like proof concept, the second one is to assign spends or KPI.</p>
                </article>
            </section>

            <section class="cbp-delayed cbp-so-section">
                <figure class="cbp-so-side cbp-so-side-left">
                  <div class="invoking-window">
                    <div class="invoking-launch">
                      <div class="process-title"></div>
                      <div class="launch-button">
                      </div>
                      <div class="invoking-expand-list">
                        <div class="expanded-elem finished">
                          <span class="timer-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 90 112.5" enable-background="new 0 0 90 90" xml:space="preserve"><g><path d="M37.082,54.632c2.856,2.855,7.484,2.855,10.337,0c2.857-2.855,10.259-20.595,10.259-20.595s-17.74,7.399-20.596,10.255   C34.226,47.147,34.226,51.776,37.082,54.632z"/><path d="M73.562,18.902l7.199,5.57l6.52-6.778c0,0-2.723-4.138-7.016-8.266c-4.293-4.13-8.649-6.799-8.649-6.799l-6.52,6.778   l5.986,7.156l-2.647,2.754c-7.056-6.57-16.505-10.599-26.88-10.599c-21.768,0-39.481,17.71-39.481,39.481   c0,21.771,17.713,39.481,39.481,39.481c21.769,0,39.481-17.71,39.481-39.481c0-10.169-3.866-19.451-10.204-26.458L73.562,18.902z    M67.983,73.416l-3.855-3.853c-0.427-0.43-1.122-0.43-1.552,0c-0.427,0.429-0.427,1.122,0,1.552l3.848,3.845   c-6.279,5.84-14.606,9.498-23.773,9.77V77.08c0-0.605-0.491-1.096-1.096-1.096c-0.605,0-1.096,0.49-1.096,1.096v7.649   c-9.169-0.271-17.497-3.93-23.776-9.77l3.847-3.848c0.43-0.429,0.43-1.122,0-1.552c-0.429-0.427-1.123-0.427-1.549,0l-3.856,3.855   C9.166,67.174,5.393,58.839,5.033,49.635h7.885c0.608,0,1.099-0.49,1.099-1.096s-0.491-1.096-1.099-1.096h-7.9   c0.189-9.301,3.863-17.756,9.777-24.112l4.187,4.184c0.213,0.216,0.493,0.322,0.773,0.322c0.28,0,0.563-0.106,0.776-0.322   c0.43-0.427,0.43-1.123,0-1.549l-4.194-4.194c6.319-6.031,14.785-9.823,24.123-10.1v8.138c0,0.605,0.491,1.096,1.096,1.096   c0.605,0,1.096-0.49,1.096-1.096v-8.138c9.338,0.277,17.804,4.069,24.12,10.1l-4.194,4.191c-0.427,0.43-0.427,1.123,0,1.552   c0.216,0.213,0.496,0.32,0.776,0.32c0.282,0,0.563-0.107,0.775-0.32l4.184-4.187c5.914,6.357,9.591,14.814,9.78,24.115h-7.9   c-0.608,0-1.099,0.49-1.099,1.096s0.49,1.096,1.099,1.096h7.882C77.716,58.839,73.94,67.177,67.983,73.416z"/></g></svg>
                          </span>
                        </div>
                        <div class="expanded-elem">

                        </div>
                      </div>
                    </div>
                </div>


                </figure>
                <article class="cbp-so-side cbp-so-side-right">
                    <h2>Timer as delayed workflow execution</h2>
                    <p>Schedule an execution of the step or the process on time when you need it.</p>
                </article>
            </section>


        </div>


  </div>
</div>



<div class="feature-block black-bg centerered-focused-feature">
<div class="feature-header-content" style="">
<h2 class="feature-header feature-header-main">
      Customization
</h2>
<h4>
API and pre-defined flows
</h4>
</div>

  <div class="container">
        <div id=cbp-so-scroller class="cbp-so-scroller use-cases-section">
            <style>
                .fs1.icon-pencil,
                .fs1.icon-chat {
                    width: auto;
                    height: auto;
                }
            </style>
            <section class=cbp-so-section>
                <article class="cbp-so-side cbp-so-side-right">
<div class="left-description">
    <h2>Integrate 3-party</h2>
    <h4>
    Every block is perfectly balanced to make the reading an enjoyable experience.
    </h4>
</div>

<div class="right-description">

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias blanditiis neque illo similique, non numquam ad quis, voluptates voluptatem eligendi nobis repellat suscipit molestiae illum quam aspernatur doloremque beatae minima!</p>
</div>

                </article>
                <figure class="custom-elements cbp-so-side cbp-so-side-left">
                  <div class="custom-element-presentation">


<div class="element">
<div class="element-title">
  <h5>Element</h5>
</div>
<div class="element-states">
  <div class="element-state">
    <h5>Initiated</h5>
  </div>
  <div class="element-state">
    <h5>Finished</h5>
  </div>

</div>
</div>
<div class="element-action-pipe">
<div class="element-action-pipe-payload">
  <div class="payload-title">
    <div class="gray-title"></div>

  </div>
  <div class="payload-attributes">
    <div class="gray-title"></div>

  </div>
</div>
</div>

<div class="element-action">
  <div class="elemnt-action-title stripe">
    <h5>Send invoice</h5>
  </div>
  <div class="elemnt-action-title gdrive">
    <h5>Create file</h5>
  </div>
  <div class="elemnt-action-title rest">
    <h5>Call an API</h5>
  </div>

</div>
  </div>
                </figure>

            </section>
            <section class=cbp-so-section>
                <article class="cbp-so-side cbp-so-side-right">
<div class="left-description">
    <h2>Build your own elements</h2>
    <h4>
    Every block is perfectly balanced to make the reading an enjoyable experience.
    </h4>
</div>

<div class="right-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias blanditiis neque illo similique, non numquam ad quis, voluptates voluptatem eligendi nobis repellat suscipit molestiae illum quam aspernatur doloremque beatae minima!</p>
</div>


                </article>
                <figure class="cbp-so-side cbp-so-side-left">
                  <div class="custom-logic-presentation">

                  <div class="element-action">
                    <div class="elemnt-action-title">
                      <h5>My Operation</h5>
                    </div>
                  </div>

                  <div class="element-custom-logic">
                    <div class="custom-codes">
                      <div class="sidebar">
                      </div>
                      <div class="line-of-code line1"></div>
                      <div class="line-of-code line2"></div>
                      <div class="line-of-code line3"></div>
                      <div class="line-of-code line4"></div>
                      <div class="line-of-code line2"></div>
                      <div class="line-of-code line4"></div>
                      <div class="line-of-code line1"></div>
                      <div class="line-of-code line3"></div>
                      <div class="line-of-code line2"></div>
                      <div class="line-of-code line3"></div>
                      <div class="line-of-code line4"></div>
                      <div class="line-of-code line3"></div>
                      <div class="line-of-code line2"></div>
                      <div class="line-of-code line3"></div>
                      <div class="line-of-code line4"></div>
                      <div class="line-of-code line2"></div>
                    </div>
                    <div class="custom-states">

                    </div>
                    <div class="custom-action">

                    </div>
                  </div>
                  </div>
                </figure>
            </section>
        </div>


  </div>
</div>






<section class="section all-in-one grey-gradient" style="display:none;">
    <div class=content>
        <div class=columns>
            <div class=col-3>
                <div class=bucket style="height: 249px;">
                    <h3>Take a clearer look at your work process</h3>
                    <p>By describing and managing your workflow you can discover areas that need to be improved</p>
                </div>
            </div>
            <div class=col-3>
                <div class=bucket style="height: 249px;">
                    <h3>Always know the status of work</h3>
                    <p>With real time information about your latest work progress you can better prepare for what's next</p>
                </div>
            </div>
            <div class=col-3>
                <div class=bucket style="height: 249px;">
                    <h3>See the overall picture of spendings</h3>
                     <p>Manage and track your spending. Allocate resources for each step of your project to stay within your budget</p>
                </div>
            </div>
            <div class=col-3>
                <div class=bucket style="height: 249px;">
                                    <h3>Collaborate the way that works for you</h3>
                                   <p>Add team members on the project you're working on to better coordinate with each other</p>                 </div>
            </div>
            <div class="col-3 col-downed">
                <div class=bucket style="height: 249px;">
                    <h3>Adjust your process elements as you want</h3>
                    <p>Whether it API or part of code, put it in the process element for execution</p>
                    <div class=coming-soon>Coming soon</div>
                </div>
            </div>
        </div>
</section>

<section id=features class="features" style="display: none;">
    <div class=container>
        <header class="clearfix usecases-title"> <a href="/cases">Use cases</a> </header>
        <div id=cbp-so-scroller class="cbp-so-scroller use-cases-section">
            <style>
                .fs1.icon-pencil,
                .fs1.icon-chat {
                    width: auto;
                    height: auto;
                }
            </style>
            <section class=cbp-so-section>
                <figure class="cbp-so-side cbp-so-side-left">
                    <div class="fs1 icon-pencil" aria-hidden=true></div>
                </figure>
                <article class="cbp-so-side cbp-so-side-right">
                    <h2>Understand Your Workflow Better</h2>
                    <p>The success of any business lies in properly assessing the workflow. Minority gives you the much needed analysis and insight on every single step of how your work processes operate. Utilizing this knowledge, your team is now ready to be more productive, more accurate and more successful in your upcoming projects.</p>
                </article>
            </section>
            <section class=cbp-so-section>
                <figure class="cbp-so-side cbp-so-side-left">
                    <div class="fs1 icon-chat" aria-hidden=true data-sicon=""></div>
                </figure>
                <article class="cbp-so-side cbp-so-side-right">
                    <h2>Show Clients That You're Worth It</h2>
                    <p>Minority provides you with a way to transparently track your performance on previous projects. You can now showcase your expertise, punctuality and productivity to your potential clients, increasing your chances of successfully landing a new customer.</p>
                </article>
            </section>
        </div>
    </div>
</section>





<section id="subscribtionbox" class="section full-cta grey">
  <div class="content">
    <div class="section-heading">
      <p>The point is that any working activity is compound from actions, the basic units; and so this is a platform for describing those actions and repeat activity. Unlike the project management, where the point in one plan for one run, workflow management is for the world where's already mined enough data to describe a good work process and run through it multiple times. The real work is reiteration of actions for producing value, not the reinventing the wheel. </p>
    </div>
  </div>
    <div class="content getstarted-content">
      <div class="section-heading">
        <h2>Get started</h2>
        <h3></h3>
        <div class="subscribe-form mc_embed_signup">
      <form action="//empireinc.us5.list-manage.com/subscribe/post?u=141c1b3291fd461fbe97103c0&amp;id=6cb531884f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="mc-field-group input-append">
          <a href="https://min.ority.us/signUp" id="mc-embedded-subscribe" class="button btn green marquee-btn">Start</a>
      </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_141c1b3291fd461fbe97103c0_6cb531884f" tabindex="-1" value=""></div>
          <div class="clear"></div>
      </form>
      </div>
    </div>
</section>

<script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

<%= partial "footer" %>




<script>
$( document ).ready(function() {

!function(t){"use strict";var s=function(s,e){this.el=t(s),this.options=t.extend({},t.fn.typed.defaults,e),this.isInput=this.el.is("input"),this.attr=this.options.attr,this.showCursor=this.isInput?!1:this.options.showCursor,this.elContent=this.attr?this.el.attr(this.attr):this.el.text(),this.contentType=this.options.contentType,this.typeSpeed=this.options.typeSpeed,this.startDelay=this.options.startDelay,this.backSpeed=this.options.backSpeed,this.backDelay=this.options.backDelay,this.stringsElement=this.options.stringsElement,this.strings=this.options.strings,this.strPos=0,this.arrayPos=0,this.stopNum=0,this.loop=this.options.loop,this.loopCount=this.options.loopCount,this.curLoop=0,this.stop=!1,this.cursorChar=this.options.cursorChar,this.shuffle=this.options.shuffle,this.sequence=[],this.build()};s.prototype={constructor:s,init:function(){var t=this;t.timeout=setTimeout(function(){for(var s=0;s<t.strings.length;++s)t.sequence[s]=s;t.shuffle&&(t.sequence=t.shuffleArray(t.sequence)),t.typewrite(t.strings[t.sequence[t.arrayPos]],t.strPos)},t.startDelay)},build:function(){var s=this;if(this.showCursor===!0&&(this.cursor=t('<span class="typed-cursor">'+this.cursorChar+"</span>"),this.el.after(this.cursor)),this.stringsElement){s.strings=[],this.stringsElement.hide();var e=this.stringsElement.find("p");t.each(e,function(e,i){s.strings.push(t(i).html())})}this.init()},typewrite:function(t,s){if(this.stop!==!0){var e=Math.round(70*Math.random())+this.typeSpeed,i=this;i.timeout=setTimeout(function(){var e=0,r=t.substr(s);if("^"===r.charAt(0)){var o=1;/^\^\d+/.test(r)&&(r=/\d+/.exec(r)[0],o+=r.length,e=parseInt(r)),t=t.substring(0,s)+t.substring(s+o)}if("html"===i.contentType){var n=t.substr(s).charAt(0);if("<"===n||"&"===n){var a="",h="";for(h="<"===n?">":";";t.substr(s).charAt(0)!==h;)a+=t.substr(s).charAt(0),s++;s++,a+=h}}i.timeout=setTimeout(function(){if(s===t.length){if(i.options.onStringTyped(i.arrayPos),i.arrayPos===i.strings.length-1&&(i.options.callback(),i.curLoop++,i.loop===!1||i.curLoop===i.loopCount))return;i.timeout=setTimeout(function(){i.backspace(t,s)},i.backDelay)}else{0===s&&i.options.preStringTyped(i.arrayPos);var e=t.substr(0,s+1);i.attr?i.el.attr(i.attr,e):i.isInput?i.el.val(e):"html"===i.contentType?i.el.html(e):i.el.text(e),s++,i.typewrite(t,s)}},e)},e)}},backspace:function(t,s){if(this.stop!==!0){var e=Math.round(70*Math.random())+this.backSpeed,i=this;i.timeout=setTimeout(function(){if("html"===i.contentType&&">"===t.substr(s).charAt(0)){for(var e="";"<"!==t.substr(s).charAt(0);)e-=t.substr(s).charAt(0),s--;s--,e+="<"}var r=t.substr(0,s);i.attr?i.el.attr(i.attr,r):i.isInput?i.el.val(r):"html"===i.contentType?i.el.html(r):i.el.text(r),s>i.stopNum?(s--,i.backspace(t,s)):s<=i.stopNum&&(i.arrayPos++,i.arrayPos===i.strings.length?(i.arrayPos=0,i.shuffle&&(i.sequence=i.shuffleArray(i.sequence)),i.init()):i.typewrite(i.strings[i.sequence[i.arrayPos]],s))},e)}},shuffleArray:function(t){var s,e,i=t.length;if(i)for(;--i;)e=Math.floor(Math.random()*(i+1)),s=t[e],t[e]=t[i],t[i]=s;return t},reset:function(){var t=this;clearInterval(t.timeout);var s=this.el.attr("id");this.el.after('<span id="'+s+'"/>'),this.el.remove(),"undefined"!=typeof this.cursor&&this.cursor.remove(),t.options.resetCallback()}},t.fn.typed=function(e){return this.each(function(){var i=t(this),r=i.data("typed"),o="object"==typeof e&&e;r||i.data("typed",r=new s(this,o)),"string"==typeof e&&r[e]()})},t.fn.typed.defaults={strings:["These are the default values...","You know what you should do?","Use your own!","Have a great day!"],stringsElement:null,typeSpeed:0,startDelay:0,backSpeed:0,shuffle:!1,backDelay:500,loop:!1,loopCount:!1,showCursor:!0,cursorChar:"|",attr:null,contentType:"html",callback:function(){},preStringTyped:function(){},onStringTyped:function(){},resetCallback:function(){}}}(window.jQuery);
});
</script> <script>
function randomString(length, chars) {
    var mask = '';
    if (chars.indexOf('a') > -1) mask += 'abcdefghijklmnopqrstuvwxyz';
    if (chars.indexOf('A') > -1) mask += 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
    if (chars.indexOf('#') > -1) mask += '0123456789';
    if (chars.indexOf('!') > -1) mask += '~`!@#$%^&*()_+-={}[]:";\'<>?,./|\\';
    var result = '';
    for (var i = length; i > 0; --i) result += mask[Math.floor(Math.random() * mask.length)];
    return result;
}


var workFlow1Count = 0;
var workFlow2Count = 0;
var animateIndex = 5;
var eraseIndex = 4;

var cloneElem = function(el, appendTo, workflowId) {
          var el = el.clone().hide();
          var elnew = el.appendTo( appendTo );
          if (workflowId === '1') {
            var rate = getRandomInt(10,20)+'%'
          } else {
            var rate = getRandomInt(30,50)+'%'
          }
          setTimeout(function() {
              elnew.hide().fadeIn(1000);
              $(elnew).find('.workflow-result-rate').css({width: "10%"});
              Velocity($(elnew).find('.workflow-result-rate'), { width: "75%" },
                {delay: getRandomInt(500,2000)})
          });
}
function getRandomInt(min, max) {
  return Math.floor(Math.random() * (max - min + 1) + min);
}

var animateWorkflow = function(workflowId) {
  if (workflowId === "1") {
    workFlow1Count = workFlow1Count+1;
    if (workFlow1Count <= animateIndex) {
    if ($( "#workflow1 .workflow-results .workflow-result" ).length < 4) {

          cloneElem($( "#workflow1 .workflow-results .workflow-result" ).first(),
                    "#workflow1 .workflow-results", '1')
    } else {
      if ($( "#workflow1 .workflow-results .workflow-result" ).length == eraseIndex) {
        $( "#workflow1 .workflow-results .workflow-result" ).first().remove();
      };
    }
    } else { workFlow1Count = 0; }

  }
  if (workflowId === "2") {
    workFlow2Count = workFlow2Count+1;
    if (workFlow2Count <= animateIndex) {
    if ($( "#workflow2 .workflow-results .workflow-result" ).length < 4) {

    cloneElem($( "#workflow2 .workflow-results .workflow-result" ).first(),
              "#workflow2 .workflow-results", '2')

    } else {
      if ($( "#workflow2 .workflow-results .workflow-result" ).length == eraseIndex) {
          $( "#workflow2 .workflow-results .workflow-result" ).first().remove();
      }
    }
  } else { workFlow2Count = 0; }
}

}

var animLoop = function() {
  Velocity(document.getElementsByClassName('workflow-button')[0], { opacity: 0.5 }, {
    loop: false, //delay: 3000,
    complete: function(elements) {//progress: function(elements, complete, remaining, start, tweenValue) {
      animateWorkflow('1');
    },

  } );


  Velocity(document.getElementsByClassName('workflow-button')[1], { opacity: 0.5 }, {
    loop: false, //delay: 3000,
    complete: function(elements) {//progress: function(elements, complete, remaining, start, tweenValue) {
      animateWorkflow('2');
    },
  } );
}

window.setTimeout(function(){
function z(){
   $( "#task1 .task-title" ).typed({
    strings: ["Task "+randomString(1, 'A'), "", "Task "+randomString(1, 'A'), "", "Task "+randomString(1, 'A')],
    loop:false,
    typeSpeed: 100,
    contentType: 'text'
  });
 $( "#task2 .task-title" ).typed({
    strings: ["Task "+randomString(1, 'A'), "", "Task "+randomString(1, 'A'), "", "Task "+randomString(1, 'A')],
    loop:false,
    typeSpeed: 400,
    contentType: 'text'
});
 Velocity($( "#task2" ) , { opacity: "1" }, {loop: false, delay: 1000});
}
z();

console.log('z')

}, 3000)

$( document ).ready(function() {
setInterval(function() {
  animLoop();


}, 4000);


  Velocity($( "#task1 .task-check" ) , { backgroundColor: "#2ecc71" }, {loop: false, delay: 5000})
  Velocity($( "#task2 .task-check" ) , { backgroundColor: "#2ecc71" }, {loop: false, delay: 9000})
  Velocity($( "#task4 .task-check" ),  { backgroundColor: "#2ecc71" }, {loop: false, delay: 14000})
  Velocity($( "#task5 .task-check" ),  { backgroundColor: "#2ecc71" }, {loop: false, delay: 16000})
  Velocity($( "#task3 .task-check" ),  { backgroundColor: "#2ecc71" }, {loop: false, delay: 18000})

// Show tasks





setTimeout(function() {

 Velocity($( "#task2" ),  { opacity: "1" }, {loop: false, delay: 2000})
 Velocity($( "#task4" ),  { opacity: "1" }, {loop: false, delay: 4000})
 Velocity($( "#task5" ),  { opacity: "1" }, {loop: false, delay: 5000})
 Velocity($( "#task3" ),  { opacity: "1" }, {loop: false, delay: 6000})

 Velocity($( "#task2" ),  {     rotateZ: "25deg"}, {loop: false, delay: 7000})
 Velocity($( "#task4" ),  {rotateZ: "8deg" }, {loop: false, delay: 8000})
 Velocity($( "#task5" ),  { rotateZ: "-15deg" }, {loop: false, delay: 9000})
 Velocity($( "#task3" ),  { rotateZ: "-5deg" }, {loop: false, delay: 10000})


}, 4000);


});



</script> </body> </html> <script src="/javascripts/jquery-1.10.2.min.js"></script> <script src="/javascripts/jquery.parallax.min.js"></script> <script src="/javascripts/jquery.scrollTo-1.4.3.1-min.js"></script> <script src="/javascripts/jquery.svg.js"></script> <script src="/javascripts/jquery.svganim.js"></script> <script src="/javascripts/jquery.backgroundvideo.min.js"></script> <script src="/javascripts/cbpScroller.js"></script> <script src="/javascripts/modernizr.custom.js"></script> <script src="/javascripts/classie.js"></script> <script src="/javascripts/vide.js"></script> <script src="/javascripts/all.js"></script> <script src="/javascripts/easing.min.js"></script> <script src="/javascripts/page-transitions.js"></script> <script src="/javascripts/startup-kit.js"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/1.3.0/jquery.scrollmagic.js"></script>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KDS4XF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KDS4XF');</script>
<!-- End Google Tag Manager -->


<script>
      new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
    </script> <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-13037685-3', 'auto');
  ga('send', 'pageview');

</script> <script> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter30361492 = new Ya.Metrika({ id:30361492, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/30361492" style="position:absolute; left:-9999px;" alt=""/></div></noscript> <script src="https://imulus.github.io/retinajs/assets/retina.js"></script> <script>
            $(document).ready(function($) {
              // init controller
              var controller = new ScrollMagic();

              // build tween
              var tween = TweenMax.from("#animate", 0.5, {autoAlpha: 0, scale: 0.7});

              // build scene
              var scene = new ScrollScene({triggerElement: "a#top", duration: 200, triggerHook: "onLeave"})
                      .setTween(tween)
                      .addTo(controller);

              // change behaviour of controller to animate scroll instead of jump
              controller.scrollTo(function (newpos) {
                TweenMax.to(window, 0.5, {scrollTo: {y: newpos}});
              });

              //  bind scroll to anchor links
              $(document).on("click", "a[href^=#]", function (e) {
                var id = $(this).attr("href");
                if ($(id).length > 0) {
                  e.preventDefault();

                  // trigger scroll
                  controller.scrollTo(id);

                    // if supported by the browser we can even update the URL.
                  if (window.history && window.history.pushState) {
                    history.pushState("", document.title, id);
                  }
                }
              });

              // show indicators (requires debug extension)
              //scene.addIndicators();
            });
</script> <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script> <script>
  /*! jQuery-ui-Slider-Pips - v1.10.8 - 2015-11-24
* Copyright (c) 2015 Simon Goellner <simey.me@gmail.com>; Licensed MIT */


// PIPS

(function($) {

    "use strict";

    var extensionMethods = {

        pips: function( settings ) {

            var slider = this, i, j, p, collection = "",
                mousedownHandlers,
                min = slider._valueMin(),
                max = slider._valueMax(),
                value = slider._value(),
                values = slider._values(),
                pips = ( max - min ) / slider.options.step,
                $handles = slider.element.find(".ui-slider-handle"),
                $pips;

            var options = {

                first: "label",
                // "label", "pip", false

                last: "label",
                // "label", "pip", false

                rest: "pip",
                // "label", "pip", false

                labels: false,
                // [array], { first: "string", rest: [array], last: "string" }, false

                prefix: "",
                // "", string

                suffix: "",
                // "", string

                step: ( pips > 100 ) ? Math.floor( pips * 0.05 ) : 1,
                // number

                formatLabel: function(value) {
                    return this.prefix + value + this.suffix;
                }
                // function
                // must return a value to display in the pip labels

            };

            if ( $.type( settings ) === "object" || $.type( settings ) === "undefined"  ) {
                $.extend( options, settings );
            } else {
                if ( settings === "destroy" ) {
                    destroy();
                }
                return;
            }


            // we don't want the step ever to be a floating point.
            slider.options.pipStep = Math.round( options.step );

            // get rid of all pips that might already exist.
            slider.element
                .off( ".selectPip" )
                .addClass("ui-slider-pips")
                .find(".ui-slider-pip")
                .remove();

            // small object with functions for marking pips as selected.

            var selectPip = {

                single: function(value) {

                    this.resetClasses();

                    $pips
                        .filter(".ui-slider-pip-" + this.classLabel(value) )
                        .addClass("ui-slider-pip-selected");

                    if ( slider.options.range ) {

                        $pips.each(function(k,v) {

                            var pipVal = $(v).children(".ui-slider-label").data("value");

                            if (( slider.options.range === "min" && pipVal < value ) ||
                                ( slider.options.range === "max" && pipVal > value )) {

                                $(v).addClass("ui-slider-pip-inrange");

                            }

                        });

                    }

                },

                range: function(values) {

                    this.resetClasses();

                    for( i = 0; i < values.length; i++ ) {

                        $pips
                            .filter(".ui-slider-pip-" + this.classLabel(values[i]) )
                            .addClass("ui-slider-pip-selected-" + (i+1) );

                    }

                    if ( slider.options.range ) {

                        $pips.each(function(k,v) {

                            var pipVal = $(v).children(".ui-slider-label").data("value");

                            if( pipVal > values[0] && pipVal < values[1] ) {

                                $(v).addClass("ui-slider-pip-inrange");

                            }

                        });

                    }

                },

                classLabel: function(value) {

                    return value.toString().replace(".","-");

                },

                resetClasses: function() {

                    var regex = /(^|\s*)(ui-slider-pip-selected|ui-slider-pip-inrange)(-{1,2}\d+|\s|$)/gi;

                    $pips.removeClass( function (index, css) {
                        return ( css.match(regex) || [] ).join(" ");
                    });

                }

            };

            function getClosestHandle( val ) {

                var h, k,
                    sliderVals,
                    comparedVals,
                    closestVal,
                    tempHandles = [],
                    closestHandle = 0;

                if( values && values.length ) {

                    // get the current values of the slider handles
                    sliderVals = slider.element.slider("values");

                    // find the offset value from the `val` for each
                    // handle, and store it in a new array
                    comparedVals = $.map( sliderVals, function(v) {
                        return Math.abs( v - val );
                    });

                    // figure out the closest handles to the value
                    closestVal = Math.min.apply( Math, comparedVals );

                    // If a comparedVal is the closestVal, then
                    // set the value accordingly, and set the closest handle.
                    for( h = 0; h < comparedVals.length; h++ ) {
                        if( comparedVals[h] === closestVal ) {
                            tempHandles.push(h);
                        }
                    }

                    // set the closest handle to the first handle in array,
                    // just incase we have no _lastChangedValue to compare to.
                    closestHandle = tempHandles[0];

                    // now we want to find out if any of the closest handles were
                    // the last changed handle, if so we specify that handle to change
                    for( k = 0; k < tempHandles.length; k++ ) {
                        if( slider._lastChangedValue === tempHandles[k] ) {
                            closestHandle = tempHandles[k];
                        }
                    }

                    if ( slider.options.range && tempHandles.length === 2 ) {

                        if ( val > sliderVals[1] ) {

                            closestHandle = tempHandles[1];

                        } else if ( val < sliderVals[0] ) {

                            closestHandle = tempHandles[0];

                        }

                    }

                }

                return closestHandle;

            }

            function destroy() {

                slider.element
                    .off(".selectPip")
                    .on("mousedown.slider", slider.element.data("mousedown-original") )
                    .removeClass("ui-slider-pips")
                    .find(".ui-slider-pip")
                    .remove();

            }

            // when we click on a label, we want to make sure the
            // slider's handle actually goes to that label!
            // so we check all the handles and see which one is closest
            // to the label we clicked. If 2 handles are equidistant then
            // we move both of them. We also want to trigger focus on the
            // handle.

            // without this method the label is just treated like a part
            // of the slider and there's no accuracy in the selected value

            function labelClick( label ) {

                if (slider.option("disabled")) {
                    return;
                }

                var val = $(label).data("value"),
                    indexToChange = getClosestHandle( val );

                if ( values && values.length ) {

                    slider.element.slider("values", indexToChange, val );

                } else {

                    slider.element.slider("value", val );

                }

                slider._lastChangedValue = indexToChange;

            }

            // method for creating a pip. We loop this for creating all
            // the pips.

            function createPip( which ) {

                var label,
                    percent,
                    number = which,
                    classes = "ui-slider-pip",
                    css = "";

                if ( "first" === which ) { number = 0; }
                else if ( "last" === which ) { number = pips; }

                // labelValue is the actual value of the pip based on the min/step
                var labelValue = min + ( slider.options.step * number );

                // classLabel replaces any decimals with hyphens
                var classLabel = labelValue.toString().replace(".","-");

                // We need to set the human-readable label to either the
                // corresponding element in the array, or the appropriate
                // item in the object... or an empty string.

                if( $.type(options.labels) === "array" ) {
                    label = options.labels[number] || "";
                }

                else if( $.type( options.labels ) === "object" ) {

                    // set first label
                    if( "first" === which ) {
                        label = options.labels.first || "";
                    }

                    // set last label
                    else if( "last" === which ) {
                        label = options.labels.last || "";
                    }

                    // set other labels, but our index should start at -1
                    // because of the first pip.
                    else if( $.type( options.labels.rest ) === "array" ) {
                        label = options.labels.rest[ number - 1 ] || "";
                    }

                    // urrggh, the options must be f**ked, just show nothing.
                    else {
                        label = labelValue;
                    }
                }

                else {

                    label = labelValue;

                }



                // First Pip on the Slider
                if ( "first" === which ) {

                    percent = "0%";

                    classes += " ui-slider-pip-first";
                    classes += ( "label" === options.first ) ? " ui-slider-pip-label" : "";
                    classes += ( false === options.first ) ? " ui-slider-pip-hide" : "";

                // Last Pip on the Slider
                } else if ( "last" === which ) {

                    percent = "100%";

                    classes += " ui-slider-pip-last";
                    classes += ( "label" === options.last ) ? " ui-slider-pip-label" : "";
                    classes += ( false === options.last ) ? " ui-slider-pip-hide" : "";

                // All other Pips
                } else {

                    percent = ((100/pips) * which).toFixed(4) + "%";

                    classes += ( "label" === options.rest ) ? " ui-slider-pip-label" : "";
                    classes += ( false === options.rest ) ? " ui-slider-pip-hide" : "";

                }

                classes += " ui-slider-pip-" + classLabel;


                // add classes for the initial-selected values.
                if ( values && values.length ) {

                    for( i = 0; i < values.length; i++ ) {

                        if ( labelValue === values[i] ) {

                            classes += " ui-slider-pip-initial-" + (i+1);
                            classes += " ui-slider-pip-selected-" + (i+1);

                        }

                    }

                    if ( slider.options.range ) {

                        if( labelValue > values[0] &&
                            labelValue < values[1] ) {

                            classes += " ui-slider-pip-inrange";

                        }

                    }

                } else {

                    if ( labelValue === value ) {

                        classes += " ui-slider-pip-initial";
                        classes += " ui-slider-pip-selected";

                    }

                    if ( slider.options.range ) {

                        if (( slider.options.range === "min" && labelValue < value ) ||
                            ( slider.options.range === "max" && labelValue > value )) {

                            classes += " ui-slider-pip-inrange";

                        }

                    }

                }



                css = ( slider.options.orientation === "horizontal" ) ?
                    "left: "+ percent :
                    "bottom: "+ percent;


                // add this current pip to the collection
                return  "<span class=\""+classes+"\" style=\""+css+"\">"+
                            "<span class=\"ui-slider-line\"></span>"+
                            "<span class=\"ui-slider-label\" data-value=\""+labelValue+"\">"+ options.formatLabel(label) +"</span>"+
                        "</span>";

            }

            // create our first pip
            collection += createPip("first");

            // for every stop in the slider; we create a pip.
            for( p = 1; p < pips; p++ ) {
                if( p % slider.options.pipStep === 0 ) {
                    collection += createPip( p );
                }
            }

            // create our last pip
            collection += createPip("last");

            // append the collection of pips.
            slider.element.append( collection );

            // store the pips for setting classes later.
            $pips = slider.element.find(".ui-slider-pip");



            // store the mousedown handlers for later, just in case we reset
            // the slider, the handler would be lost!

            if ( $._data( slider.element.get(0), "events").mousedown &&
                $._data( slider.element.get(0), "events").mousedown.length ) {

                mousedownHandlers = $._data( slider.element.get(0), "events").mousedown;

            } else {

                mousedownHandlers = slider.element.data("mousedown-handlers");

            }

            slider.element.data("mousedown-handlers", mousedownHandlers.slice() );

            // loop through all the mousedown handlers on the slider,
            // and store the original namespaced (.slider) event handler so
            // we can trigger it later.
            for( j = 0; j < mousedownHandlers.length; j++ ) {
                if( mousedownHandlers[j].namespace === "slider" ) {
                    slider.element.data("mousedown-original", mousedownHandlers[j].handler );
                }
            }

            // unbind the mousedown.slider event, because it interferes with
            // the labelClick() method (stops smooth animation), and decide
            // if we want to trigger the original event based on which element
            // was clicked.
            slider.element
                .off("mousedown.slider")
                .on("mousedown.selectPip", function(e) {

                    var $target = $(e.target),
                        closest = getClosestHandle( $target.data("value") ),
                        $handle = $handles.eq( closest );

                    $handle.addClass("ui-state-active");

                    if( $target.is(".ui-slider-label") ) {

                        labelClick( $target );

                        slider.element
                            .one("mouseup.selectPip", function() {

                                $handle
                                    .removeClass("ui-state-active")
                                    .focus();

                            });

                    } else {

                        var originalMousedown = slider.element.data("mousedown-original");
                        originalMousedown(e);

                    }

            });




            slider.element.on( "slide.selectPip slidechange.selectPip", function(e,ui) {

                var $slider = $(this),
                    value = $slider.slider("value"),
                    values = $slider.slider("values");

                if ( ui ) {

                    value = ui.value;
                    values = ui.values;

                }

                if ( values && values.length ) {

                    selectPip.range( values );

                } else {

                    selectPip.single( value );

                }

            });




        },








// FLOATS

        float: function( settings ) {

            var i,
                slider = this,
                min = slider._valueMin(),
                max = slider._valueMax(),
                value = slider._value(),
                values = slider._values(),
                tipValues = [],
                $handles = slider.element.find(".ui-slider-handle");

            var options = {

                handle: true,
                // false

                pips: false,
                // true

                labels: false,
                // [array], { first: "string", rest: [array], last: "string" }, false

                prefix: "",
                // "", string

                suffix: "",
                // "", string

                event: "slidechange slide",
                // "slidechange", "slide", "slidechange slide"

                formatLabel: function(value) {
                    return this.prefix + value + this.suffix;
                }
                // function
                // must return a value to display in the floats

            };

            if ( $.type( settings ) === "object" || $.type( settings ) === "undefined"  ) {
                $.extend( options, settings );
            } else {
                if ( settings === "destroy" ) {
                    destroy();
                }
                return;
            }




            if ( value < min ) {
                value = min;
            }

            if ( value > max ) {
                value = max;
            }

            if ( values && values.length ) {

                for( i = 0; i < values.length; i++ ) {

                    if ( values[i] < min ) {
                        values[i] = min;
                    }

                    if ( values[i] > max ) {
                        values[i] = max;
                    }

                }

            }

            // add a class for the CSS
            slider.element
                .addClass("ui-slider-float")
                .find(".ui-slider-tip, .ui-slider-tip-label")
                .remove();



            function destroy() {

                slider.element
                    .off(".sliderFloat")
                    .removeClass("ui-slider-float")
                    .find(".ui-slider-tip, .ui-slider-tip-label")
                    .remove();

            }


            function getPipLabels( values ) {

                // when checking the array we need to divide
                // by the step option, so we store those values here.

                var vals = [],
                    steppedVals = $.map( values, function(v) {
                        return Math.ceil(( v - min ) / slider.options.step);
                    });

                // now we just get the values we need to return
                // by looping through the values array and assigning the
                // label if it exists.

                if( $.type( options.labels ) === "array" ) {

                    for( i = 0; i < values.length; i++ ) {

                        vals[i] = options.labels[ steppedVals[i] ] || values[i];

                    }

                }

                else if( $.type( options.labels ) === "object" ) {

                    for( i = 0; i < values.length; i++ ) {

                        if( values[i] === min ) {
                            vals[i] = options.labels.first || min;
                        }

                        else if( values[i] === max ) {
                            vals[i] = options.labels.last || max;
                        }

                        else if( $.type( options.labels.rest ) === "array" ) {
                            vals[i] = options.labels.rest[ steppedVals[i] - 1 ] || values[i];
                        }

                        else {
                            vals[i] = values[i];
                        }

                    }

                }

                else {

                    for( i = 0; i < values.length; i++ ) {

                        vals[i] = values[i];

                    }

                }

                return vals;

            }

            // apply handle tip if settings allows.
            if ( options.handle ) {

                // We need to set the human-readable label to either the
                // corresponding element in the array, or the appropriate
                // item in the object... or an empty string.

                tipValues = ( values && values.length ) ?
                    getPipLabels( values ) :
                    getPipLabels( [ value ] );

                for( i = 0; i < tipValues.length; i++ ) {

                    $handles
                        .eq( i )
                        .append( $("<span class=\"ui-slider-tip\">"+ options.formatLabel(tipValues[i]) +"</span>") );

                }

            }

            if ( options.pips ) {

                // if this slider also has pip-labels, we make those into tips, too.
                slider.element.find(".ui-slider-label").each(function(k,v) {

                    var $this = $(v),
                        val = [ $this.data("value") ],
                        label,
                        $tip;


                    label = options.formatLabel( getPipLabels( val )[0] );

                    // create a tip element
                    $tip =
                        $("<span class=\"ui-slider-tip-label\">" + label + "</span>")
                            .insertAfter( $this );

                });

            }

            // check that the event option is actually valid against our
            // own list of the slider's events.
            if ( options.event !== "slide" &&
                options.event !== "slidechange" &&
                options.event !== "slide slidechange" &&
                options.event !== "slidechange slide" ) {

                options.event = "slidechange slide";

            }

            // when slider changes, update handle tip label.
            slider.element
                .off(".sliderFloat")
                .on( options.event + ".sliderFloat", function( e, ui ) {

                    var uiValue = ( $.type( ui.value ) === "array" ) ? ui.value : [ ui.value ],
                        val = options.formatLabel( getPipLabels( uiValue )[0] );

                    $(ui.handle)
                        .find(".ui-slider-tip")
                        .html( val );

                });

        }

    };

    $.extend(true, $.ui.slider.prototype, extensionMethods);

})(jQuery);
</script> <style>/*! jQuery-ui-Slider-Pips - v1.10.8 - 2015-11-24
* Copyright (c) 2015 Simon Goellner <simey.me@gmail.com>; Licensed MIT */

/* HORIZONTAL */
/* increase bottom margin to fit the pips */
.ui-slider-horizontal.ui-slider-pips {
  margin-bottom: 1.4em;
}

/* default hide the labels and pips that arnt visible */
/* we just use css to hide incase we want to show certain */
/* labels/pips individually later */
.ui-slider-pips .ui-slider-label,
.ui-slider-pips .ui-slider-pip-hide {
  display: none;
}

/* now we show any labels that we've set to show in the options */
.ui-slider-pips .ui-slider-pip-label .ui-slider-label {
  display: block;
}

/* PIP/LABEL WRAPPER */
/* position each pip absolutely just below the default slider */
/* and also prevent accidental selection */
.ui-slider-pips .ui-slider-pip {
  width: 2em;
  height: 1em;
  line-height: 1em;
  position: absolute;
  font-size: 0.8em;
  color: white;
  overflow: visible;
  text-align: center;
  top: 20px;
  left: 20px;
  margin-left: -1em;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ui-state-disabled.ui-slider-pips .ui-slider-pip {
  cursor: default;
}

/* little pip/line position & size */
.ui-slider-pips .ui-slider-line {
  background: #999;
  width: 1px;
  height: 3px;
  position: absolute;
  left: 50%;
}

/* the text label postion & size */
/* it overflows so no need for width to be accurate */
.ui-slider-pips .ui-slider-label {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -1em;
  width: 2em;
}

/* make it easy to see when we hover a label */
.ui-slider-pips:not(.ui-slider-disabled) .ui-slider-pip:hover .ui-slider-label {
  color: black;
  font-weight: bold;
}

/* VERTICAL */
/* vertical slider needs right-margin, not bottom */
.ui-slider-vertical.ui-slider-pips {
  margin-bottom: 1em;
  margin-right: 2em;
}

/* align vertical pips left and to right of the slider */
.ui-slider-vertical.ui-slider-pips .ui-slider-pip {
  text-align: left;
  top: auto;
  left: 20px;
  margin-left: 0;
  margin-bottom: -0.5em;
}

/* vertical line/pip should be horizontal instead */
.ui-slider-vertical.ui-slider-pips .ui-slider-line {
  width: 3px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
}

.ui-slider-vertical.ui-slider-pips .ui-slider-label {
  top: 50%;
  left: 0.5em;
  margin-left: 0;
  margin-top: -0.5em;
  width: 2em;
}

/* FLOATING HORIZTONAL TOOLTIPS */
/* remove the godawful looking focus outline on handle and float */
.ui-slider-float .ui-slider-handle:focus,
.ui-slider-float .ui-slider-handle.ui-state-focus .ui-slider-tip-label,
.ui-slider-float .ui-slider-handle:focus .ui-slider-tip,
.ui-slider-float .ui-slider-handle.ui-state-focus .ui-slider-tip-label,
.ui-slider-float .ui-slider-handle:focus .ui-slider-tip-label
.ui-slider-float .ui-slider-handle.ui-state-focus .ui-slider-tip-label {
  outline: none;
}

/* style tooltips on handles and on labels */
/* also has a nice transition */
.ui-slider-float .ui-slider-tip,
.ui-slider-float .ui-slider-tip-label {
  position: absolute;
  visibility: hidden;
  top: -40px;
  display: block;
  width: 34px;
  margin-left: -18px;
  left: 50%;
  height: 20px;
  line-height: 20px;
  background: white;
  border-radius: 3px;
  border: 1px solid #888;
  text-align: center;
  font-size: 12px;
  opacity: 0;
  color: #333;
  -webkit-transition-property: opacity, top, visibility;
  transition-property: opacity, top, visibility;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-duration: 200ms, 200ms, 0ms;
  transition-duration: 200ms, 200ms, 0ms;
  -webkit-transition-delay: 0ms, 0ms, 200ms;
  transition-delay: 0ms, 0ms, 200ms;
}

/* show the tooltip on hover or focus */
/* also switch transition delay around */
.ui-slider-float .ui-slider-handle:hover .ui-slider-tip,
.ui-slider-float .ui-slider-handle.ui-state-hover .ui-slider-tip,
.ui-slider-float .ui-slider-handle:focus .ui-slider-tip,
.ui-slider-float .ui-slider-handle.ui-state-focus .ui-slider-tip,
.ui-slider-float .ui-slider-handle.ui-state-active .ui-slider-tip,
.ui-slider-float .ui-slider-pip:hover .ui-slider-tip-label {
  opacity: 1;
  top: -30px;
  visibility: visible;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 200ms, 200ms, 0ms;
  transition-delay: 200ms, 200ms, 0ms;
}

/* put label tooltips below slider */
.ui-slider-float .ui-slider-pip .ui-slider-tip-label {
  top: 42px;
}

.ui-slider-float .ui-slider-pip:hover .ui-slider-tip-label {
  top: 32px;
  font-weight: normal;
}

/* give the tooltip a css triangle arrow */
.ui-slider-float .ui-slider-tip:after,
.ui-slider-float .ui-slider-pip .ui-slider-tip-label:after {
  content: " ";
  width: 0;
  height: 0;
  border: 5px solid rgba(255, 255, 255, 0);
  border-top-color: white;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
}

/* put a 1px border on the tooltip arrow to match tooltip border */
.ui-slider-float .ui-slider-tip:before,
.ui-slider-float .ui-slider-pip .ui-slider-tip-label:before {
  content: " ";
  width: 0;
  height: 0;
  border: 5px solid rgba(255, 255, 255, 0);
  border-top-color: #888;
  position: absolute;
  bottom: -11px;
  left: 50%;
  margin-left: -5px;
}

/* switch the arrow to top on labels */
.ui-slider-float .ui-slider-pip .ui-slider-tip-label:after {
  border: 5px solid rgba(255, 255, 255, 0);
  border-bottom-color: white;
  top: -10px;
}

.ui-slider-float .ui-slider-pip .ui-slider-tip-label:before {
  border: 5px solid rgba(255, 255, 255, 0);
  border-bottom-color: #888;
  top: -11px;
}

/* FLOATING VERTICAL TOOLTIPS */
/* tooltip floats to left of handle */
.ui-slider-vertical.ui-slider-float .ui-slider-tip,
.ui-slider-vertical.ui-slider-float .ui-slider-tip-label {
  top: 50%;
  margin-top: -11px;
  width: 34px;
  margin-left: 0px;
  left: -60px;
  color: #333;
  -webkit-transition-duration: 200ms, 200ms, 0;
  transition-duration: 200ms, 200ms, 0;
  -webkit-transition-property: opacity, left, visibility;
  transition-property: opacity, left, visibility;
  -webkit-transition-delay: 0, 0, 200ms;
  transition-delay: 0, 0, 200ms;
}

.ui-slider-vertical.ui-slider-float .ui-slider-handle:hover .ui-slider-tip,
.ui-slider-vertical.ui-slider-float .ui-slider-handle.ui-state-hover .ui-slider-tip,
.ui-slider-vertical.ui-slider-float .ui-slider-handle:focus .ui-slider-tip,
.ui-slider-vertical.ui-slider-float .ui-slider-handle.ui-state-focus .ui-slider-tip,
.ui-slider-vertical.ui-slider-float .ui-slider-handle.ui-state-active .ui-slider-tip,
.ui-slider-vertical.ui-slider-float .ui-slider-pip:hover .ui-slider-tip-label {
  top: 50%;
  margin-top: -11px;
  left: -50px;
}

/* put label tooltips to right of slider */
.ui-slider-vertical.ui-slider-float .ui-slider-pip .ui-slider-tip-label {
  left: 47px;
}

.ui-slider-vertical.ui-slider-float .ui-slider-pip:hover .ui-slider-tip-label {
  left: 37px;
}

/* give the tooltip a css triangle arrow */
.ui-slider-vertical.ui-slider-float .ui-slider-tip:after,
.ui-slider-vertical.ui-slider-float .ui-slider-pip .ui-slider-tip-label:after {
  border: 5px solid rgba(255, 255, 255, 0);
  border-left-color: white;
  border-top-color: transparent;
  position: absolute;
  bottom: 50%;
  margin-bottom: -5px;
  right: -10px;
  margin-left: 0;
  top: auto;
  left: auto;
}

.ui-slider-vertical.ui-slider-float .ui-slider-tip:before,
.ui-slider-vertical.ui-slider-float .ui-slider-pip .ui-slider-tip-label:before {
  border: 5px solid rgba(255, 255, 255, 0);
  border-left-color: #888;
  border-top-color: transparent;
  position: absolute;
  bottom: 50%;
  margin-bottom: -5px;
  right: -11px;
  margin-left: 0;
  top: auto;
  left: auto;
}

.ui-slider-vertical.ui-slider-float .ui-slider-pip .ui-slider-tip-label:after {
  border: 5px solid rgba(255, 255, 255, 0);
  border-right-color: white;
  right: auto;
  left: -10px;
}

.ui-slider-vertical.ui-slider-float .ui-slider-pip .ui-slider-tip-label:before {
  border: 5px solid rgba(255, 255, 255, 0);
  border-right-color: #888;
  right: auto;
  left: -11px;
}

/* SELECTED STATES */
/* Comment out this chuck of code if you don't want to have
        the new label colours shown */
.ui-slider-pips [class*=ui-slider-pip-initial] {
  font-weight: bold;
  color: #14CA82;
}

.ui-slider-pips .ui-slider-pip-initial-2 {
  color: #1897C9;
}

.ui-slider-pips [class*=ui-slider-pip-selected] {
  font-weight: bold;
  color: #FF7A00;
}

.ui-slider-pips .ui-slider-pip-inrange {
  color: black;
}

.ui-slider-pips .ui-slider-pip-selected-2 {
  color: #E70081;
}

.ui-slider-pips [class*=ui-slider-pip-selected] .ui-slider-line,
.ui-slider-pips .ui-slider-pip-inrange .ui-slider-line {
  background: black;
}
.ui-slider-pips [class*=ui-slider-pip-selected] {
    font-weight: bold;
    color: #079493;
}
</style>


<script src="/javascripts/script.js" type="text/javascript"></script>

<script>
fetch('https://min.ority.us/whoami', {
  method: "POST",
  body: {},
credentials: 'include'
}).then(function(success, error) {
  console.log('success', success);
  if (success !== undefined && success.ok === true && success.url !== "https://min.ority.us/signIn") {
    document.querySelector('a.btn.bg-nephritis').text = "To App"
  }
  console.log('error', error);

})

</script>
<script>



$(".price-slider")
    .slider({
        min: 5,
        max: 95,
        step: 10,
        change: function(event, ui) {
           $('.employee-num').text(ui.value);
           // 55 for 5
           if (ui.value > 94) {
           var new_price = (ui.value - 5) * 6 + 55;
           $('.total-price').html('<a href="/contacts">Contact us</a>');
           $('.pricing__currency').text('');
           } else {
           var new_price = (ui.value - 5) * 6 + 55;
           $('.total-price').text(new_price);
           $('.pricing__currency').text('$');
           }
        }
    })

    .slider("pips", {
        rest: "label",
        step: 1
    });

 $('.ui-slider-label[data-value="95"]').text('>95');
</script>


</body>
</html>
